XMLDemo/src/info/inetsolv/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
 targetNamespace="http://www.inetsolv.info/tags/" 
 xmlns="http://www.example.org/employees" 
 elementFormDefault="qualified">
 
 <xs:element name="employee">
<xs:complexType>
<xs:sequence>
<xs:element name="firstname"/>
<xs:element name="lastname"/>
</xs:sequence>
</xs:complexType>
</xs:element> 
</xs:schema>