XMLDemo/src/info/inetsolv/MinMaxOccurences.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.hello.org/MinMaxOccurences/" 
xmlns="http://www.hello.org/MinMaxOccurences/"  
elementFormDefault="qualified">

<xs:element name="student" type="mytype"/>

<xs:complexType name="mytype">
<xs:sequence>
<xs:element name="sno" type="xs:int" minOccurs="1" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>





</xs:schema>