XMLDemo/src/info/inetsolv/PatternRestriction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.hello.org/PatternRestriction/" 
xmlns="http://www.hello.org/PatternRestriction/"
elementFormDefault="qualified">

<xs:element name="student" type="mytype"/>


<xs:complexType name="mytype">
<xs:sequence>
<xs:element name="firstname">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z]*"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="lastname" type="xs:string">

</xs:element>
</xs:sequence>
</xs:complexType>



</xs:schema>