XMLDemo/src/info/inetsolv/Test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
 targetNamespace="http://www.inetsolv.info/Test" 
 xmlns="http://www.inetsolv.info/Test" 
 elementFormDefault="qualified">

<xs:element name="testtag" type="nameinfo"></xs:element>

<xs:complexType name="nameinfo">
<xs:sequence>
<xs:element name="tag1" type="xs:string"/>
<xs:element name="tag2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>